<%- include('elements/head') -%>
<%- include('elements/header') -%>


<div class="page">
    <div class="container">
	<%- include('elements/subscriptionbox') -%>

	<%- include('elements/writingPromptsTools') -%>    
	<%- include('elements/promptsGenerator') -%>
    </div> <!-- End .container -->
    <%- include('elements/cta') -%>

</div> <!-- End .page-class -->

<script>
var TEXT_SETTINGS = <%- JSON.stringify(settingsText) %>
    var IMAGE_SETTINGS = <%- JSON.stringify(settingsImages) %>    
</script>
<%- include('elements/help-modal') -%>
<%- include('elements/footer') -%>
